<div class="foot">
   <div class="container foot">
        <div class="row">
            <div class="col">
                <h3>Mapa del sitio </h3>
                    <ul>
                        <li>Sobre nosotros</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                    </ul>
            </div>
            <div class="col">
                <h3>Informacion de contacto</h3>
                    <ul>
                        <li>Direccion: cra 23 n 30-20</li>
                        <li>Telefono: 8248707</li>
                        <li>Correo: empresa@gmail.com</li>
                    </ul>
            </div>
            
        </div>
        <p>COPYRIGHT</p>
    </div>
    
</div>  
